:root{
   --open-sans:"Open Sans", sans-serif;
   --nunito-sans:"Nunito Sans", sans-serif;

   --accent-light:#FBB731;
   --accent-dark:#F37335;
   --dark:#443737;
   --light:#ffffff;
   --light-rgb:255, 255, 255;
   --line: #DEDEDE;
   --tr:0.2s;

}

body{
    font-family: var(--open-sans);   
}

a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    box-sizing: border-box;
}

/* Header */

.header{
    border-bottom:1px solid var(--line);

}

.header-wrapper{
    display: flex;
    align-items: center;
    gap:177px ;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger-menu{
    display: none;
    width: 34px;
    height: 22px;
    background-image: url(..//images/Burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.logo{
    display: block;   
    background-image: url(../images/logo.svg);   
    background-repeat: no-repeat;
    background-size: contain;
    width: 175.7px;
    height: 56px;

}
.nav{
    flex-grow: 1; 
    display: flex;
    gap: 56px;
    font-weight: 600;
    font-size: 20px;
    margin-left: min(3vw, 140px);
}
.nav._modal{
    display: none;
}
.nav-link{
    color: var(--dark);
    transition: var(--tr);
}
.nav-link::after{
    content: '';
    display: block;
    width: 100%;
    height:3px;
    background-color:transparent;
    border-radius: 1.5px;
}
.nav-link:hover::after{
    background-color: var(--accent-light);
}
.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark); 
     
    font-weight: 700;
    font-size: 15px; 
    position: relative;
}
.cart::before{
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image:url(../images/cart.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    border-radius: 100%;
    position: absolute;
    left: 17px;
    bottom: 0px;
}
.button-up{
    position: fixed;
    right: 10px;
    bottom: 10px;
    max-width: 80px; ;
    font-size: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #443737;
    background-color: var(--accent-light);
    border-radius: 5px;
    border: none;
    display: flex;    
    justify-content: space-evenly;
    align-items:center;
    transition: var(--tr);
}
.button-up:hover{
    background-color: var(--accent-dark);
}
.button-up.hidden{
    opacity: 0;
}
.button-up.visible{
    opacity: 1;
}

/* hero  */
.hero{
    background-image: url(../images/hero.jpeg); 
    background-repeat: no-repeat;  
    background-size: cover;
    background-position:center center ;
    text-align: center;
    padding: 157px 0;
}
.hero-contact{
    background-image: url(../images/hero-contact.jpeg);   
}
.breadcrumbs{
    display: flex;   
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-link{
    color:rgba(var(--light-rgb), .5);
    transition: var(--tr);
    
}
.breadcrumbs-item{
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after{
    content: '/';
    position: absolute;
    right: -12px;
    color:rgba(var(--light-rgb), .5);
}
.breadcrumbs-link:hover{
    color: var(--accent-light);
}
.hero-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    margin: .0.31em 0;
}
.hero-description{
    max-width: 320px;
    height: 48px;
    margin: 24px  auto;
    color: rgba(var(--light-rgb), 0.8);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem; 
    letter-spacing: 0px;
    text-align: center; 
}
/* banner */

.banner{
    /* display: block;
    width: 1182px;
    height: 685px; */
    margin-top: 106px; 
    /* margin: 140px auto 110px; */
   

}
.banner-wrapper{
    background-image: url(../images/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
}
.banner-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 60px;
    font-weight: 900;
    /* width: 157px;
    height: 76px; */
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}
.banner-title span{
    display: block; 
    max-width: 95px;
    /* max-height: 28px; */
    padding: 5px 0;
    background-color: #F37335;
    border-radius: 0.88rem;
    color: rgba(var(--light-rgb));
    font-family: var(--open-sans);
    font-size: 14px;
    font-weight: 600;
    line-height: 128%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner-btn{
    display: block;
    max-width: 170px; ;
    font-size: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    color: #443737;
    background-color: var(--accent-light);
    border-radius: 5px;
    border: none;
    display: flex;    
    justify-content: space-evenly;
    align-items:center;
    transition: var(--tr);
}
.banner-btn:hover{
    background-color: var(--accent-dark);
}

.banner-descriptions{
    max-width: 328px;
    color: rgba(var(--light-rgb), 0.8);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 22px;
}
 /* menu */

    .menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 78px;
    margin-bottom: 34px;
    }

.menu-select{
    color: var(--dark);
    font-family:var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/menu/arrow.svg);
    background-repeat: no-repeat;
    background-position: 89% center;
    border-radius: 22px;
    padding: 13px 30px;
    border: 1px solid var(--line);

}
.menu-title{
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 44px;
    font-weight: 700;
    line-height: 127%;
    text-transform: uppercase;
}
.menu-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;

}
.menu-thumb{
  width: 100%;
  height: 430px;
  position:  relative ;  
  overflow: hidden;
}
.menu-thumb img{
    width: 100%;   
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%) ;
    object-fit: cover;
    
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    margin: 0px auto;
    font-family: var(--nunito-sans);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 32px;
    background-color: var(--accent-light);
    width: 152px;
    height: 38px;
    border-radius: 5px;
    border: none;
    color: #443737;
    transition: var(--tr);
}
.menu-btn:hover{
    background-color: var(--accent-dark);
}

.menu-btn::before{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image:url(../images/menu-cart.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu-item{
font-family: var(--nunito-sans);
text-align: center;
}
.menu-name{ 
    justify-content: space-evenly;
    align-items:center;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 30px;
    font-weight: 700;
    margin-top: 22px; 
    margin-bottom: 10px;  
    line-height: 126%;
}
.menu-price{
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    color: rgba(68, 55, 55, 0.5);
    margin-bottom: 9px;
}
.menu-item button{
    margin: auto;
}

/* footer */

 .footer{
    background-color: #1E2F40;   
    margin-top:140px ;
    padding-top: 110px;
    padding-bottom: 120px;
 }

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer-logo{
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/Logo_light.svg); 
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-list{
    color: rgba(var(--light-rgb));
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5rem;

}
.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
}
 .footer-nav a{
    margin-bottom: 8px;
} 

.footer-item h3{
    margin-top: 0;
}
.footer-item span{
    display: block;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.footer-title{
    color: rgba(var(--light-rgb));
    font-family:var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.footer-item:last-child{
    flex-basis: 194px;
}
.footer-tel{
    display: block;
    color: #FBB731; 
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 2.38rem;
    text-align: right;
    text-transform: uppercase;
    transition: var(--tr);
}

.footer-tel:hover{
    color:var(--light) ;
}
.footer-tel._mobile{
    display: none;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav a{
    color: rgba(255, 255, 255, 0.9);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    transition: var(--tr);

}
.footer-nav a:hover{
    color: var(--accent-light);
}
/* Contacts */

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}


.contact-map {
    flex-basis: 680px;
}


.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}


.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}


.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}


.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}


.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}


.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}


.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/contact/03.svg);
}


.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}


.contact-tel {
    transition: var(--tr);
}


.contact-tel:hover {
    color: var(--accent-light);
}

/* Media */
@media (max-width:1180px) {
    .header-wrapper{
        gap: 40px;    
    }
    .nav{
        margin-left: 0; 
        gap: min(3vw, 30px);
    } 
}
@media (max-width:768px) {
    .logo{
        
        width: 175.7px;
        height: 56px;
    }
    .header-wrapper{
        gap: 30px;    
    }
    nav{
        gap: 22px;
    }
    .banner{
        margin-top: 72px;
    }
    .banner-wrapper{
        padding: 100px 40px;
    }
    .menu-header{
        margin-top: 80px;
        }
    .menu-box{
        grid-template-columns: repeat(2, 1fr);
    }  
    .menu-box._additionally{
        grid-template-columns: 1fr;
    }
    .menu-item._additionally{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-item._additionally .menu-thumb{
        flex-basis: calc(60%-20px);
        height: 260px;
        margin-bottom: 0;
    }
    .menu-item._additionally .menu-info{
        flex-basis: 40px
    }
    .footer-item:last-child{
        display: none;
    }
    .footer-tel._mobile{
        display: block;
        text-align: left;
    
    }
    .footer-nav {
        margin-bottom:8px;
    } 
    .footer{
        padding-top: 62px;
        padding-bottom: 71px;
     }
}
@media (max-width: 730px){
   .nav{
        display: none; 
   }
   .nav._modal{
        display: flex;
        flex-direction: column;
   }
   .nav-link::after{
        display: none;
    }
   .burger-menu{
        display: block;
    }
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .logo {
        width: 116.08px;
        height: 37px;
        flex-grow: 1;
        /* padding: 19px O; */
    }
    .hero {
        /* padding: 55px 15px; */
        /* padding:27px 15px; */
        padding-top: 57px;
        /* padding-bottom: 55px;
         */
         padding-bottom: 13px;
    }
    .breadcrumbs{
        font-size: 14px;
        /* margin-top: 27px; */
      
    }
    .hero-title{
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 13px;
    }
    .hero-description {
        /* max-width: 258px;
        margin-top: 8px;
        margin-right: auto;
        margin-bottom: 35px;
        margin-left: auto; */
        line-height: 166%;
        font-size: 12px;
        max-width: 258px;
        padding-bottom: 20px;
        margin: 13px auto;

    }
    .banner {
        margin-top: 33px;
        
        min-height: 359px;
       }
    .banner-wrapper {
        padding:34px 15px 30px 17px;
        
    }

    .banner-title{
        margin-bottom:9px;
    }
    .banner-title span {
        margin-bottom: 8px;
        margin-top: 2px;
    }
    .banner-title {
        color: var(--light);
        font-family: var(--nunito-sans);
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .banner-descriptions {
        max-width: 227px;
        font-size: 14px;
        line-height: 160%;
        margin-top: 15px;
        margin-bottom: 17px;
    }
    .banner-btn{
        max-width:198px;
    }
    .modal{
        width: 100%;
        max-width: 500px;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        left: 0%;
        right: 0%;
        margin: 0 auto;
        box-sizing: border-box;
        text-align: center;
        transition: var(--tr);
    }
    .modal-close{
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(..//images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        width: 136px;
        padding: 13px 15px;     
    }
    .menu-box{
        gap: 24px 20px;
    }
    .menu-header {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .menu-price {
        font-size: 13px;
    }
    .menu-thumb {
        height: 50vw;
        margin-bottom: 10px;
    }
    .menu-name {
        font-size: 13px;
        margin-top: 11px;
        /* margin-bottom: 9px; */   
    }
    .menu-btn {
       padding: 11px 22px;
       width: 129px;
       height: 38px;
    }
    .menu-thumb {
        flex-basis: calc(100% -130px -20px);
        height: 30vw;
    }
    .footer {
        margin-top: 80px;
    }

    .footer-nav {
        margin-bottom: -6px;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 33px;
        position: relative;
    }
    .footer-item span {
        margin-top: 13px;
    }
    .footer-logo {
        margin-bottom: 8px;
    }
    .footer-tel._mobile {
        position: absolute;
        top: -8px ;
        right: 0;
    }
    .footer-tel._mobile +  .footer-tel._mobile{
        top: 29px;
    }
    .footer-title {
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .menu-thumb {
        flex-basis: calc(100% - 130px - 20px);
        height: 38vw;    
    }
    .menu-item._additionally .menu-info {
        flex-basis: 130px;
    }
}